<div class="sideMenu">
    <div class="sideBar">
        <div class="nomeEvento">
            <h1 class="tituloEsquerdo">SLACA 2019</h1>
        </div>
        <div class="logo">
            <img class="logoEvento"/>
            <div class="todasOpcoes">
        	<p class="opcoes">Apresentação</p>
        	<hr/>
        	<p class="opcoes">Comitês</p>
        	<hr/>
        	<p class="opcoes">Autores</p>
        	<hr/>
        	<p class="opcoes">Eixos temáticos</p>
        	<hr/>
        	<p class="opcoesTrabalhos">Trabalhos</p>
        	<hr/>
        	<p class="opcoes">Contato</p>
        	<hr/>
    	</div>
    </div>  
</div>
<div class="header">
    <div class="titulos">
        <h1 class="primeiroTitulo">Anais do Simpósio Latino Americano de Ciências de Alimentos </h1>
        <h2 class="segundoTitulo">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h2>
        <h3 class="terceiroTitulo">ISSN: 1234-5678</h3>
    </div>
    <div class="botaoIdiomas">
        <label class="ptBR">PT, BR</label>
        <label class="dropdown"></label>
        <label class="linguagemBotao"></label>
    </div>
    <div class="login">
        <p class="bemVindo">Bem Vindo!</p>
        <div class="notificacao">
            <label class="quantidade">2</label>
            <img class="imagemPessoa">
        </div>
        <p class="descricaoEmail">alguem12@galoascience.com</p>
    </div>
</div>