<app-header></app-header>
<div class="tituloEBotoes">
    <h1 class="tituloPosHeader">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h1>
    <div class="todosBotesCabecalho">
        <button class="botaoCabecalho">Download</button>
        <button class="botaoCabecalho">⭐</button>
        <button class="botaoCabecalho">doi</button>
    </div>
    <p class="descricaoCabecalho">Como citar esse trabalho?</p>
</div>
<div class="imagemEDescricao">
    <img class="imagem"/>
    <div class="detalhes">
        <h1 class="tituloDetalhes">Detalhes</h1>
        <p class="textoDetalhes">Tipo de Apresentação: <strong>Pôster</strong><br/>
            Eixo temático: <strong>Alimentação e saúde (AS)</strong> <br/>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
            <br/>
            <br/>
            <strong>Autores:</strong><br/>
            Galileo Galilei<br/>
            Berta Lange de Morretes<br/>
            Isaac Newton<br/>
            Cesar Lattes<br/>
            Stephen Hawking<br/>
            <br/><br/><br/>
            Universidade Estadual de Campinas
            Universidade de São Paulo
            Instituto Nacional de Pesquisas Espaciais
            Universidade Federal do Rio de Janeiro</p>
    </div>
</div>
<div class="resumo">
    <h1 class="titulo1">Resumo</h1>
    <p class="texto" [ngClass]="{'aumentarTexto' : openResumo}">
        {{resumo[0]}}
        <button class="btn-show-more botao" (click)="mostrarMais()" [ngClass]="{'esconder' : openResumo}">Ver mais</button>
        <br/>
        {{resumo[1]}}
        <br/>
        {{resumo[2]}}
        <br/>
        {{resumo[3]}}
    </p>
</div>
<div class="discussoes">
    <h1 class="titulo1">Discussões</h1>
    <div class="informacoes1" [ngClass]="{'esconder': openCriarTopico || exibirSucesso}">
        <h2 class="titulo2">Compartilhe suas ideias ou dúvidas com os autores</h2>
        <div class="circulos">
            <p class="bolas"></p>
            <p class="bolas"></p>
            <p class="bolas"></p>
        </div>
        <p class="texto2">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe
            seus<br/>
            questionamentos ou sugestões para o autor!</p>
        <br/>
        <hr/>
        <div class="segundoBotao">
            <button class="btn-create-topic botao2" (click)="mostrarFormBtn()">+ Criar tópico</button>
        </div>
    </div>
    <div class="labelEinput" [ngClass]="{'esconder': openCriarTopico == false}">
        <p class="titulo2">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
        <label class="subtitulo">Assunto</label>
        <input class="inserindoDados" type="text" placeholder="Defina um tópico sucinto para notificar os autores..." #textoassunto>
        <br/>
        <label class="subtitulo">Conteúdo</label>
        <input class="inserindoDados2" type="text" placeholder="Defina um tópico sucinto para notificar os autores..." #textoconteudo>
        <div class="labelEBotao">
            <label class="nada"></label>
            <button class="botao3" (click)="enviarForm()" (click)="enviarTexto()">Enviar</button>
        </div>
    </div>
    <div class="exibirSucesso" *ngIf="exibirSucesso">
        <p class="mensagemSucesso">Seu tópico foi enviado com sucesso! :D</p>
        <br/>
        <p class="mensagemAgradecendo">Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
        <br/>
        <p class="link">Descubra outros trabalhos!</p>
        <button class="botao2" (click)="mostrarFormBtn()" (click)="esconderFormESucesso()">criar novo tópico</button>
        <div class="proporFeedback">
            <p class="textoFeedback">Aguardando feedback dos autores</p>
            <p class="linkFeedback">Editar tópico</p>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="textoDoFormulario" *ngIf="textoDoFormulario">
        <p class="textoAssunto" style="color: #ED7839;" *ngFor="let feedback of listaFeedbacks">{{feedback.assunto}}</p>
        <p class="textoConteudo" style="color: #4D4D4D;" *ngFor="let feedback of listaFeedbacks">{{feedback.conteudo}}</p>
        <div class="tresItens">
            <p style="color: #ED7839; margin-right: 10px;" >:</p>
            <p class="coracao" style="margin-right: 10px;">🧡</p>
            <p style="color: #757575; margin-right: 10px;">1 like</p>
            <p style="color: #757575; margin-right: 10px;">1 resposta</p>
        </div>
    </div>
</div>
<div class="imagemFooter">
    <img class="imagemRodape" src="../app/components/imagens/7759fc41770821247ae92857ceb5f840.png"/>
</div>
