$orange: #ED7839;

.tituloEBotoes{
  margin: 25% 18%;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ED7839;
  width: 700px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tituloPosHeader{
  font-size: 20px;
  margin: 3%;
}

.tituloEBotoes {  
  display: -webkit-inline-box;
}

.botaoCabecalho{
  background: #ED7839;
  border: none;
  border-radius: 4px;
  margin-right: -10%;
  margin-left: 15%;
  width: 120px;
  height: 31px;
  left: 842px;
  padding: 6px 12px 6px 12px;
  gap: 5px;
}

.descricaoCabecalho{
  font-size: 15px;
  margin: 9% 0% 0% -20%;
}

.imagemEDescricao{
  display: flex;
  justify-content: space-between;
  // Image: plyr;
  
}

.descricaoImagem{
  width: 734px;
  height: 54px;
  top: 108px;
  left: 34px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;

}

.imagem{
  width: 783px;
  height: 468px;
  top: 73px;
  left: 2px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
  margin: -15% 10% 0% 19%;
  color: #8D350680;
  background: url("./components/imagens/42637d3b5568ea4df9235ef41b8fbf5b.png");
}

.detalhes{
  display: block;
  border: 1px solid #ECECEC;
  margin: -15% 0.5% 0% 0%;
  padding: 0%;
}

.tituloDetalhes{
  width: auto;
  height: 25px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #4E4E4E;
  background: #FDF1EB;
  padding: 3%;
  margin-top: 0%;
}

.textoDetalhes{
  width: 212px;
  height: 364px;
  top: 133px;
  left: 831px;
  gap: 0px;
  opacity: 0px;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 4%;
}

.todosBotesCabecalho{
  display: flex;
  margin-right: -1%;
}

.resumo,
.discussoes{
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 5%;
  margin: 5% 0.5% 0% 19%;
}

.titulo1{
  margin: -1%;
  padding: 1%;
  background: #FDF1EB;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}

.esconder{
  display: none !important;
}

.resumo{
  p{
    overflow: hidden;
    margin-top: 3%;
    max-height: 70px; /* Altura máxima do resumo */
    transition: max-height 0.3s ease;
    &.aumentarTexto{
      overflow: auto;
      max-height: 100%;
    }
  }
}

.texto{
  margin-top: 3%;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.75px;
  letter-spacing: 0.02em;
  text-align: left;
}

.botao{
  color: #ED7839;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.titulo2{
  font-size: 20px;
  text-align: center;
  margin-top: 4%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: #ED7839;
}

.circulos{
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin: auto;
}

.bolas{
  background-color: $orange;
  padding: 5%;
  border-radius: 15px;
}

.texto2{
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.25px;
  color: #595959;
}

.segundoBotao{
  display: flex;
  justify-content: center;
  margin-top: -2%;
}

.botao2{
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  cursor: pointer;
  width: 133px;
  height: 32px;
  top: 1007px;
  left: 463px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1215686275);
  border: none;
  border-radius: 5px;
}

.subtitulo{
  color: $orange;
  font-size: 20px;
}

.inserindoDados{
  border: 1px solid black;
  padding: 1%;
  width: 98%;
}

.inserindoDados2{
  border: 1px solid black;
  padding: 3%;
  width: 94%;
}

.labelEinput{
  display: grid;
}

.labelEBotao{
  display: flex;
}

.nada{
  padding: 1%;
  background-color: lightgray;
  width: 100%;
}

.botao3{
  padding: 1%;
  background-color: $orange;
  border: none;
  width: 15%;
  cursor: pointer;
}

.exibirSucesso{
  text-align: -webkit-center;
}

.mensagemSucesso{
  width: 537.96px;
  height: 22px;
  top: 821px;
  left: 246.99px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: center;
  color: #ED7839;
}

.mensagemAgradecendo{
  width: 805.25px;
  height: 20px;
  top: 861px;
  left: 113.34px;
  gap: 0px;
  opacity: 0px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.25px;
  text-align: center;
  color: #595959;
}

.link{
  width: 306.2px;
  height: 20px;
  top: 910px;
  left: 363.71px;
  gap: 0px;
  opacity: 0px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.25px;
  text-align: center;
  color: #F48F44;

}

.proporFeedback{
  width: 1028px;
  height: 148px;
  top: 1023px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #E7E7E7;
  background: #DDDDDD;
  border-radius: 4px;
  margin-top: 3%;
}

.textoFeedback{
  width: 414.29px;
  height: 20px;
  top: 66px;
  left: 309.17px;
  gap: 0px;
  opacity: 0px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #707070;
}

.linkFeedback{
  width: 122.12px;
  height: 19px;
  top: 94px;
  left: 439.03px;
  gap: 0px;
  opacity: 0px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.62px;
  text-align: center;
  color: #ED7839;
}

.textoDoFormulario{
  margin: 3%;
  width: 1028px;
  height: 148px;
  top: 1111px;
  left: 15px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #E7E7E7

}

.textoAssunto{
  color: #ED7839;
  width: 267px;
  top: 1128px;
  left: 39.17px;
  gap: 0px;
  opacity: 0px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;

}

.textoConteudo{
  width: 980.67px;
  top: 1176px;
  left: 39.17px;
  gap: 0px;
  opacity: 0px;
  color: #4D4D4D;
  margin: 3% 5%;
}

.tresItens{
  display: flex;
  margin: -3% 5%;
}

.imagemRodape{
  width: 1218px;
  height: 181px;
  left: 14px;
  gap: 0px;
  opacity: 0px;
  background: url('./components/imagens/7759fc41770821247ae92857ceb5f840.png');
  margin: 4% 0% 5% 14%;
  background-repeat: no-repeat;
}
